*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    color: #ffffff;

}
body{
    background: #353535;
    color: #fff;
}
.back-img{
    background-image: url('background-img.jpg');
    background-size: cover;
    height: 700px;
    width: 1196;
}
.back-gradeint{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 100%, rgba(4, 4, 4, 1) 20%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;
    height: 700px;
    width: 1196;
}

.navbar{
    height: 86px;
    width: 1132px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}
.logo{
    background-image: url('net-logo.png');
    background-size: cover;
    position: absolute;
    left: 32px;
    width: 148px;
    height: 60px;
}
.eng-sign{
    position: absolute;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eng{
    background-color: transparent;
    color: white;
    position: absolute;
    right: 110px;
    height: 30px;
    width: 110px;
    border-radius: 4px;
    padding: 6px,36px,6px,36px;
    font-size: 1rem;
}
.sign{
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #e50914;
    padding: 4px,16px,4px,16px;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 74px;
}
.header-content{
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    align-items: center;
}
.header-content h1{
    font-size: 48px;
    font-weight: 1000;
}
.header-content p{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 400;
}
.header-content h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 400;

}
.email-signup{
    position: absolute;
    left: 21%;
    width: 586px;
    height: 61px;
}
.email-signup input{
    border: 1px solid rgb(105, 105, 105);
    margin-top: 16px;
    width: 383px;
    height: 56px;
    border-radius: 4px;
    background: linear-gradient( rgba(0, 0, 0, 0.8) 100%, rgba(4, 4, 4, 0) 40%, rgba(0, 0, 0, 0.8) 40%)

}
.email-signup button{
    margin-top: 16px;
    width: 159px;
    height: 61px;
    color: #ffffff;
    background-color:rgb(229, 9, 20);
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
}
.box1-img{
    background-image: url('box1-img.png');
    background-size: cover;
    position: absolute;
    right: 3%;
    width: 567px;
    height: 425px;
}
.box1{
    padding: 72px,0px,72px,0px;
    width: 1210px;
    height: 573px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;  
}
.box1-text{
    margin-left: 32px;
}
.box1-text h2{
    width: 567px;
    height: 67px;
    font-size: 3rem;
    font-weight: 900;
}
.box1-text p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}
.box2{
    padding: 72px,0px,72px,0px;
    width: 1210px;
    height: 573px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;  
}
.box2-img{
    background-image: url('box2-img.jpg');
    background-size: cover;
    position: absolute;
    left: 3%;
    width: 567px;
    height: 425px;
}
.box2-text{
    margin-right: 32px;
    position: absolute;
    right: 3%;
}
.box2-text h2{
    font-size: 3rem;
    font-weight: 900;
    height: 202px;
    width: 567px;
}
.box2-text p{
    width: 567px;
    height: 56px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}
.box3{
    padding: 72px,0px,72px,0px;
    width: 1210px;
    height: 573px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    align-items: center; 
}
.box3-img{
    background-image: url('box3-img.png');
    background-size: cover;
    position: absolute;
    right: 3%;
    width: 567px;
    height: 425px;
}
.box3-text{
    margin-left: 32px;
}
.box3-text h2{
    font-size: 3rem;
    font-weight: 900;
    height: 67px;
    width: 567px;
}
.box3-text p{
    width: 567px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}
.box4{  
    width: 1210px;
    height: 573px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;  
}
.box4-text{
    margin-right: 32px;
    position: absolute;
    right: 3%;
}
.box4-text h2{
    font-size: 3rem;
    font-weight: 900;
    height: 134px;
    width: 567px;
}
.box4-text p{
    width: 567px;
    height: 56px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}
.box4-img{
    background-image: url('box4-img.png');
    background-size: cover;
    position: absolute;
    left: 3%;
    width: 567px;
    height: 425px;
}
.box5{
    height: 788px;
    width: 1210px;
    background-color: black;
    margin-top: 10px;
    padding: 72px 0;
}
.box5 h2{
    width: 1146px;
    height: 67px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.box5-list ul{
    width: 1146px;
    height: 550px;
}
.box5-list ul li{
    list-style: none;
    margin: 0 0 0.5rem 0;
}
.box5-list button{
    width: 1146px;
    height: 84px;
    padding: 24px;
    background-color: rgb(45,45,45);
    border: none;
    text-align: left;
}
.box5-list span{
    text-align: left;
    font-size: 24px;
}
.box5-2nd-part{
    width: 1146px;
    height: 102px;
    margin: 45px 0 0 0;
    display: flex;
    justify-content: center;
}
.email-signup1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}
.box6{
    height: 460px;
    width: 1210px;
    background-color: black;
    margin-top: 10px;
}
.box6-mar-pad{
    width: 1146px;
    height: 340px;
    padding: 60px 0;
    margin: 0 32px;
}
.box6-qsn{
    color: rgba(255,255,255,0.7);
    width: 1146px;
    height: 18px;
    padding: 12px 0;
}
.list{
    width: 1146px;
    height: 177px;
    display: flex;
    justify-content: space-around;
}
.box6 a{
    color: rgba(255,255,255,0.7);
}
.list ul{
    padding: 32px 0;
}
.list li{
    margin-bottom: 10px;
    list-style: none;
}
.eng1{
    height: 32px;
    padding: 12px 0;
}
.eng1-1{
    width: 126px;
    height: 32px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    padding: 6px,36px,6px,36px;
    font-size: 1rem;
}
.last{
    height: 16px;
    padding: 12px 0;
}
.last p{
    color: rgba(255,255,255,0.7);
}
.hover:hover{
    background-color:#535353;
}
.box5-2nd-part .email-signup button :hover{
    background-color:rgb(189, 9, 18);;
}